@model IEnumerable<IMDBClone.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1 class="text-light">Genres</h1>

<ul class="list-group">
    @foreach (var genre in Model)
    {
        <li class="list-group-item">
            <a asp-action="MoviesByGenre" asp-route-id="@genre.Id" class="text-decoration-none">
                @genre.Name
            </a>
        </li>
    }
</ul>
